# Задание 1
Загрузите из CSV-файла исходные данные о покупателях с веб-портала (до 15 строк). Проанализируйте возраст:

если больше 25 лет, то выводить «Старше 25»;
если меньше или равно, то выводить «Младше или равен 25».
 
Сделать через применение функции .apply pandas, изменить данные столбца DataFrame по условию.

In [32]:
import pandas as pd

clients = pd.read_csv('web_clients_correct.csv', nrows=16)

clients['analize'] = clients['age'].apply(lambda age: "Старше 25" if age > 25 else "Младше или равен 25")

display(clients)

,name,device_type,browser,sex,age,bill,region,analize
0,Allen Miss. Elisabeth Walton,mobile,Chrome,female,29,885,St Louis: MO,Старше 25
1,Allison Master. Hudson Trevor,tablet,Opera,male,48,850,Montreal: PQ / Chesterville: ON,Старше 25
2,Allison Miss. Helen Loraine,laptop,Firefox,female,48,1034,Montreal: PQ / Chesterville: ON,Старше 25
3,Allison Mr. Hudson Joshua Creighton,desktop,Internet Explorer,male,30,214,Montreal: PQ / Chesterville: ON,Старше 25
4,Allison Mrs. Hudson J C (Bessie Waldo Daniels),laptop,Firefox,female,25,993,Montreal: PQ / Chesterville: ON,Младше или равен 25
5,Anderson Mr. Harry,mobile,Firefox,male,48,371,New York: NY,Старше 25
6,Andrews Miss. Kornelia Theodosia,mobile,Chrome,female,63,1126,Hudson: NY,Старше 25
7,Andrews Mr. Thomas Jr,tablet,Internet Explorer,male,39,867,Belfast: NI,Старше 25
8,Appleton Mrs. Edward Dale (Charlotte Lamson),desktop,Chrome,female,53,552,Bayside: Queens: NY,Старше 25
9,Artagaveytia Mr. Ramon,mobile,Firefox,male,71,926,Montevideo: Uruguay,Старше 25
10,Astor Col. John Jacob,desktop,Chrome,male,47,100,New York: NY,Старше 25
11,Astor Mrs. John Jacob (Madeleine Talmadge Force),laptop,Opera,female,48,254,New York: NY,Старше 25
12,Aubart Mme. Leontine Pauline,tablet,Firefox,female,24,587,Paris: France,Младше или равен 25
13,"Barber Miss. Ellen ""Nellie""",mobile,Firefox,female,26,1009,-,Старше 25
14,Barkworth Mr. Algernon Henry Wilson,laptop,Chrome,male,80,723,Hessle: Yorks,Старше 25
15,Baumann Mr. John D,tablet,Opera,male,48,185,New York: NY,Старше 25

# Задание 2

Загрузить данные из формата CSV о покупателях с веб-портала (до 15 строк). Отобрать DataFrame по нескольким условиям поля «sex» и «age», пол — мужской, возраст — больше 30.

In [ ]:
import pandas as pd

clients = pd.read_csv('web_clients_correct.csv', nrows=16)

# filtered_clients = clients[(clients['sex'] == 'male') & (clients['age'] > 30)]
filtered_clients = clients.loc[(clients['sex'] == 'male') & (clients['age'] > 30)]

display(filtered_clients)

,name,device_type,browser,sex,age,bill,region
1,Allison Master. Hudson Trevor,tablet,Opera,male,48,850,Montreal: PQ / Chesterville: ON
5,Anderson Mr. Harry,mobile,Firefox,male,48,371,New York: NY
7,Andrews Mr. Thomas Jr,tablet,Internet Explorer,male,39,867,Belfast: NI
9,Artagaveytia Mr. Ramon,mobile,Firefox,male,71,926,Montevideo: Uruguay
10,Astor Col. John Jacob,desktop,Chrome,male,47,100,New York: NY
14,Barkworth Mr. Algernon Henry Wilson,laptop,Chrome,male,80,723,Hessle: Yorks
15,Baumann Mr. John D,tablet,Opera,male,48,185,New York: NY